*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/*
*.iws
*.iml
*.ipr
.idea
target/**
project/project/**
**/target/**
.bsp

.metals
.vscode
keyla-config.json